.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.b-example-divider {
	width: 100%;
	height: 3rem;
	background-color: #0000001a;
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026;
}
.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}
.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}
.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}
.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
	--bd-violet-bg: #712cf9;
	--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #6528e0;
	--bs-btn-hover-border-color: #6528e0;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #5a23c8;
	--bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
	z-index: 1500;
}
.bd-mode-toggle .bi {
	width: 1em;
	height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}
.bi {
	display: inline-block;
	width: 1rem;
	height: 1rem;
}
.min-100vh {
	min-height: calc(100vh - 66px);
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
	.sidebar .offcanvas-lg {
		position: -webkit-sticky;
		position: sticky;
		top: 48px;
	}
	.navbar-search {
		display: block;
	}
}

.sidebar .nav-link {
	font-size: 1.2rem;
	font-weight: 500;
}

.sidebar .nav-link.active {
	color: #2470dc;
}

.sidebar-heading {
	font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
	padding: 0.75rem 1rem;
}

.neumorph-container {
	background: #e8e8e8;
}

.neumorph {
	color: #090909;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

/* From Uiverse.io by bhaveshxrawat */ 
.custom-card {
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
}

.custom-card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
}
.custom-card p {
  z-index: 1;
  color: white;
  font-size: 1em;
}

.custom-card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

